/* Buttons */
body {
  background-color: var(--white-color);
  overflow-x: hidden;
}
.btn {
  max-height: 50px;
  font-family: var(--ubuntu-font);
  font-size: 0.9rem;
  margin: 1rem 0;
  outline: none;
  border: none;
  text-align: center;
  cursor: pointer;
  padding: 1rem 2.5rem;
  border-radius: 40px;
  font-weight: 700;
  transition: all 0.5s;
  display: inline-block;
}

.btn:hover {
  cursor: pointer;
}

.btn--white {
  background-color: transparent;
  color: var(--white-color);
  border: 1px solid var(--white-color);
}

.btn--white:hover {
  background-color: var(--white-color);
  color: var(--primary-color);
}

.btn--primary {
  background-color: var(--white-color);
  color: var(--primary-color);
}

.btn--primary:hover {
  background: var(--primary-color);
  color: var(--white-color);
}

.nav__btn--tranparent {
  background-color: transparent;
  color: var(--white-color);
  margin-right: 0;
}

