.container{
  width: 80%;
  margin: 0 auto;
}

.text-center{
  text-align: center;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 991px) {
  .container{
    width: 90%;
  }
}
@media only screen and (max-width: 768px) {
  .container{
    width: calc(100vw - 4rem);
    /* width: 95%; */
  }
}